{
    "include": [
        "lib/**/*.ts"
    ],
    "extension": [
        ".ts"
    ],
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "sourceMap": true
}
